<div class="row">
  <div class="col-md-6">
    <h3>Wednesday, January 3rd</h3>
    <table class="table table-striped">
      <tbody><tr> <td>08:30-09:00</td>  <td>Set-up</td> </tr>
      <tr> <td>09:00-10:30</td> <td><a href="https://eharstad.github.io/shell-novice/">Automating tasks with the Unix Shell</a></td> </tr>
      <tr> <td>10:30-10:45</td> <td>Coffee break</td></tr>
      <tr> <td>10:45-12:00</td> <td><a href="https://eharstad.github.io/shell-novice/">Automating tasks with the Unix Shell (continued) </a></td> </tr>
      <tr> <td>12:00-13:00</td>  <td>Lunch break </td> </tr>
      <tr> <td>13:00-14:00</td>  <td><a href="https://eharstad.github.io/shell-novice/">Automating tasks with the Unix Shell (continued) </a></td> </tr>
      <tr> <td>14:00-14:30</td> <td><a href="https://eharstad.github.io/git-novice/">Version Control with Git</a></td> </tr>
      <tr> <td>14:30-14:45</td>  <td>Coffee break</td> </tr>
      <tr> <td>14:45-16:30</td> <td><a href="https://eharstad.github.io/git-novice/">Version Control with Git (continued)</a></td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
     </tbody></table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Thursday, January 4th</h3>
    <table class="table table-striped">
      <tbody><tr> <td>08:30-09:00</td> <td>Set-up</td> </tr>
      <tr> <td>09:00-10:30</td> <td><a href="https://unlhcc.github.io/r-novice-gapminder/">Introduction to RStudio</a></td> </tr>
      <tr> <td>10:30-10:45</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:45-12:00</td>  <td><a href="https://unlhcc.github.io/r-novice-gapminder/">Data Structures in R</a></td> </tr>
      <tr> <td>12:00-13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00-14:30</td>  <td><a href="https://unlhcc.github.io/r-novice-gapminder/">Working with Data in R</a></td> </tr>
      <tr> <td>14:30-14:45</td>  <td>Coffee break</td> </tr>
      <tr> <td>14:45-17:00</td>  <td><a href="https://unlhcc.github.io/r-novice-gapminder/">Publication Quality Graphics with ggplot2</a></td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </tbody></table>
  </div>
  <div class="col-md-6">
    <h3>Friday, January 5th</h3>
    <table class="table table-striped">
      <tbody><tr> <td>08:30-09:00</td> <td>Set-up</td> </tr>
      <tr> <td>09:00-10:30</td> <td><a href="https://unlhcc.github.io/r-novice-gapminder/">Functions in R</a></td> </tr>
      <tr> <td>10:30-10:45</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:45-12:00</td>  <td><a href="https://unlhcc.github.io/r-novice-gapminder/">Saving Data and Plots</a></td> </tr>
      <tr> <td>12:00-13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00-14:30</td>  <td><a href="https://unlhcc.github.io/r-novice-gapminder/">Dataframe Manipulation with dplyr and tidyr</a></td> </tr>
      <tr> <td>14:30-14:45</td>  <td>Coffee break</td> </tr>
      <tr> <td>14:45-16:30</td>  <td><a href="https://unlhcc.github.io/r-novice-gapminder/">Integrative Reports with knitr</a></td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
    </tbody></table>
  </div>
</div>

